.noidung{
  background-image: url(background.jpg);
}
#main-nav ul {
    background: whitesmoke;
    list-style-type: none;
    text-align: center;
  }
  #main-menu{
    text-align: center;
  }
  #main-nav li {
    color: black;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
  }
.khoahocnoibat{
  text-align: center;
}
  .logo
  {
    margin-left: 0%;
  }
  #main-nav a {
   
    text-decoration: none;
    color:black;
    display: block;
  }
  #main-nav a:hover {
    background:#1F568B;;;
    color:white;
  }
  #noidung
  {
   
  }
  .sub-menu li {
    
    display: none;
    text-align: left !important;
  }
  #main-nav li {
    position: relative;
   }   
  
   .sub-menu {
    text-align: left;
    display: none;
    position: absolute; 
   }
   #main-nav li:hover .sub-menu {
    display: block;
   }
   .sub-menu li {
   
    margin-left:-30px !important;
   }
   .slider-frame{
     overflow: hidden;
     margin-left: -5%;
     height: 400px;
     width: 1200px;
    margin-bottom: 0px;
   }
.loiich
{
  text-align: center;
}
   @-webkit-keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: 0px}
    100% {left: 0px}
  }
    
    .slide-images{
      width: 3600px;
      height:500px;
      margin: 0 0 0 -2400px;
      position: relative;
      -webkit-animation-name: slide_animation;
      -webkit-animation-duration: 33s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-play-state: running;
    }
    
    .img-container{
    height: 500px;
    width: 1200px;
    position: relative;
    float: left;
    }
   
   
   .form{     
     padding: 10px;
   }
   
.icon_logo{
  margin-top: 110px;
  width: 1100px;
  margin-left: 5%;
}
